---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sunshine</title>
  </head>
  <body>
    <a href="/">Blogs</a>
    <a href="/about/">About</a>
    <a href="/projects/">Projects</a>

    <h1>My Porjects</h1>
    <p>This is where I will post about my web apps and LLM journey.</p>
  </body>
</html>
